/**
 * Created by yxl79 on 2017/4/10.
 * 列表样式基础
 */
/**
 * Created by yxl79 on 2017/4/10.
 * some config data // theme
 */
.list {
  justify-content: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
.list_mt {
  margin-top: 21px;
}
.list_padding {
  padding-left: 18px;
  padding-right: 18px;
}
